*{
  font-family: tahoma, sans-serif;
  box-sizing: border-box;
}


html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
    margin: 0;
    background: #F4F4F4 no-repeat;
    background-size: cover;
    height: 100%;
}

body *:focus {
  -webkit-box-shadow: 0px 0px 3px 1px red;
  -moz-box-shadow: 0px 0px 3px 1px red;
  box-shadow: 0px 0px 3px 1px red;
}

main {
  height: 92%;
}

header{
    width: 100%;
    height: 8%;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.wrapper{
    width: 85%;
    margin: auto;
}

nav ul{
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

nav ul li{
    display: inline-block;
    padding-left: 30px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

nav ul li a.active {
  border-bottom: 2px solid #D00;
}

.logo{
    padding-top:2px;
    height: 50px;
    float: left;
}

/*--------------
     Chatbox
----------------*/

.chatbox p{
    margin: 0;
}

.Bot{
    padding: 20px;
    max-width: 500px;
    min-width: 250px;
    margin: auto;
    height: 85%;
}

.chatlog{
    padding: 10px;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat{
    margin-bottom: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start
}

.right{
    justify-content: flex-end;
    text-align: right;
}

.user-photo {
    border-radius: 50%;
    width: 50px;
    height: 100%;
    margin: 0;
}

.user-photo img {
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.chat img {
  float: left;
}

.icie-message {
    max-width: 70%;
    padding: 8px;
    margin: 5px 0px 0px 60px;
    background: #FFF;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.icie-message:nth-child(2) {
    margin: 5px 0px 0px 10px;
}

.icie-form {
    max-width: 70%;
    padding: 8px;
    margin: 5px 0px 0px 60px;
    background: #FFF;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.icie-form fieldset {
  border: none;
}

.icie-form input[type=checkbox] {
  padding-bottom: 15px;
}

.chat-message {
    max-width: 70%;
    padding: 8px;
    margin: 5px 60px 0px 0px;
    background: #D00;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.chat-message:nth-child(2) {
    margin: 5px 10px 0px 0px;
}

.icie .chat-message{
    background: #fff;
}

.user .chat-message{
    order:-1;
    color: white;
}

.chat-form{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.chat-form input[type=text] {
    background: #fbfbfb;
    width: 75%;
    height: 50px;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    color: #333;
    border: 1px solid #777777;
}

.chat-form input[type=text]::placeholder {
  color: #777777;
}

.chat-form textarea:focus{
    background: #fff;
}

.chat-form input[type=submit] {
    background: #777777 ;
    padding: 5px 15px;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;

    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -o-transition: background .3s ease;
}

.chat-form input[type=submit]:hover,
.chat-form input[type=submit]:focus {
    background: #D00;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.chat-form fieldset {
  border: none;
  padding: none;
  background: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  height: 15%;
  padding: 0;
  margin: 0;
}

.skip-nav-link {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  overflow: hidden;
  z-index: 10000;
  text-decoration: none;
}

.skip-nav-link:focus {
  width: 400px;
  height: 50px;
  color: #D00;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  background-color: white;
  box-shadow: 0px 0px 3px black;
}
